.section-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  text-align: center;

  height: initial;
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  width: 40%;
  margin-block: 130px;
  padding: 50px 10px;

  font-size: 18px;
  background-color: var(--clr-neutral);
}

.form input {
  width: 80%;
  min-height: 24px;
  margin-inline: auto;

  padding: 5px 10px;
  margin-block: 5px 20px;

  color: var(--clr-primary);
  border: var(--clr-dark) 2px solid;
}

.btn-login {
  margin-block-end: 20px;

  font-size: 20px;
  color: var(--clr-primary);
  background-color: var(--clr-dark);
  border: none;
}

.btn-dark {
  color: var(--clr-neutral);
  background-color: var(--clr-dark);
  /* border: none; */
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.row > * {
  flex-basis: 50%;
  width: 100%;
}
