nav {
  background: none;
  background-color: var(--clr-dark);
  position: static;
}

.order {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.order-card {
  display: grid;
  grid-template-columns: 1fr 1fr;

  width: 100%;
  margin: 50px;
  padding: 50px;

  border-radius: 10px;
  background-color: var(--clr-neutral);
}

.title {
  font-weight: bold;
}

.order-info-container {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.order-info-container > * {
  padding: 10px 20px;
}

.btn-update {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;

  max-height: 30px;
  max-width: 70%;

  color: var(--clr-primary);
  background-color: var(--clr-neutral);
  border: 3px solid var(--clr-dark);
}

.shipping-address-container {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.items-container {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.order-card {
  margin: 30px 10px;
  z-index: 1;
  font-weight: normal;
  border-radius: 5px;
  box-shadow: 0 1rem 1.3rem rgba(0, 0, 0, 0.3);
}

.order-info-container {
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.section-title {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.order-id {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.transaction-id {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.order-date {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.order-bill-total {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.btn-view-items {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.order-items {
  padding: 10px;

  color: white;
  background-color: var(--clr-dark);

  border-radius: 0px 0px 5px 5px;
}

.shipping-address-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.shipping-address-container > .container-heading {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

th {
  border-bottom: solid 2px var(--clr-primary);
}

table {
  width: 100%;

  color: white;
  background-color: var(--clr-dark);
  border-radius: 10px;
}

th,
td {
  text-align: center;
  padding: 5px 10px;
}

.btn-view-items {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;

  margin: 0;

  height: 100%;
  font-size: 20px;
  border-radius: 5px;

  color: var(--clr-primary);
  background-color: var(--clr-dark);
}
