{% load static %}
<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Annapoorneswari Tasty Buds Store 🏪</title>
    <meta name="description" content="A simple E-Commerce Website">
    <meta name="author" content="Elviin Thomas Eldho">

    <meta property="og:title" content="A Basic E-Commerce Template">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.ecommerce.com/a-basic-ecommerce-template/">
    <meta property="og:description" content="A simple E-Commerce Template">
    <meta property="og:image" content="image.png">

    <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Lilita+One&display=swap"
        rel="stylesheet">

    <script src="https://kit.fontawesome.com/1acb789b0f.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'css/main.css' %}">


    {% block head %}

    {% endblock %}

</head>

<body>
    <nav>
        <div class="logo">
            <a href="{% url 'home' %}">
                <!-- <h2 class="logo-text">ATB</h2> -->
                <img class="logo-image" src="{% static 'img/logo.png' %}" alt="ATB">
            </a>
        </div>
        <div class="nav-buttons">
            <a href="{% url 'store' %}" class="btn btn-icon"><i class="fas fa-store"></i></a>
            <a href="{% url 'cart' %}" class="btn btn-icon"><i class="fas fa-shopping-cart"></i></a>
            {% if request.user.is_authenticated %}
            <a href="{% url 'profile' %}" class="user-name"> Hi {{request.user.first_name}}</a>
            <a href="{% url 'logout' %}" class="btn btn-icon"><i class="fas fa-sign-out-alt"></i></a>
            {% else %}
            <a href="{% url 'login' %}" class="btn btn-icon"><i class="fas fa-user"></i></a>
            {% endif %}
        </div>
    </nav>

    <div class="overlay hidden">
    </div>

    <div class="modal hidden">
        <h1 class="modal-title">CONTINUE</h1>
        <hr class="hr-primary">
        <p class="modal-text">If you are a returning customer, login or if you a new customer, register to continue
            shopping<br>
            <a class="close-modal">Remind me later</a>
        </p>
        <div class="row">
            <a href="{% url 'login' %}" class="btn btn-modal">Login</a>
            <p style="font-weight:bold;color: var(--clr-primary);">OR</p>
            <a href="{% url 'register' %}" class="btn btn-modal">Register</a>
        </div>
    </div>

    <div class="notification-container">

    </div>

    {% block content %}

    {% endblock %}

    <section id="contact" class="section section-dark">
        <h2 class="section-title">CONTACT us</h2>
        <hr class="hr-vertical">
        <form action="" id="contact-form">
            <input type="hidden" name="contact_number">
            <input type="text" name="user_name" placeholder="Your Name">
            <input type="email" name="user_email" placeholder="Your Email Address">
            <textarea name="message" id="query" cols="30" rows="5"
                placeholder="What would you like to know?"></textarea>
            <button class="btn btn-submit" type="submit">Send</button>
        </form>
    </section>

    <footer>
        <a href="{% static 'docx/privacy.pdf' %}">Privacy Policy</a>
        <a href="{% static 'docx/terms.pdf' %}">Terms & Conditions</a>
        <a href="{% static 'docx/refund.pdf' %}">Refund Policy</a>
        <a href="{% static 'docx/shipping.pdf' %}">Shipping Policy</a>
    </footer>

    <!-- EMAILJS -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>
    <script type="text/javascript">
        (function () {
            emailjs.init("user_4h2gv4Y7XAwgSUmVrBgXV");
        })();
    </script>
    <script type="text/javascript">
        window.onload = function () {
            document.getElementById('contact-form').addEventListener('submit', function (event) {
                event.preventDefault();
                // generate a five digit number for the contact_number variable
                this.contact_number.value = Math.random() * 100000 | 0;
                // these IDs from the previous steps
                emailjs.sendForm('service_p0it65k', 'template_8988h3u', this)
                    .then(function () {
                        console.log('SUCCESS!');
                        markup = '<h2>Your Query has been successfully sent</h2>'
                        event.target.closest('form').innerHTML = ''
                        event.target.closest('form').insertAdjacentHTML('beforebegin', markup)
                    }, function (error) {
                        console.log('FAILED...', error);
                        markup = '<h2>Your Query was not sent</h2><p>Please Try Again Later!'
                        event.target.closest('form').innerHTML = ''
                        event.target.closest('form').insertAdjacentHTML('beforebegin', markup)
                    });
            });
        }
    </script>
</body>

</html>