.body {
  display: flex;
  justify-content: center;
  align-items: center;

  background-repeat: no-repeat;
  background-size: cover;
}

.section-panel {
  margin: 30px;
  padding: 50px;

  background-color: var(--clr-neutral);
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
}

.btn-dark {
  color: var(--clr-neutral);
  background-color: var(--clr-dark);
}

.btn-icon {
  color: var(--clr-dark);
  background-color: var(--clr-primary);
}

.btn-icon:hover {
  color: var(--clr-neutral);
  background-color: var(--clr-dark);
}

.tab-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  margin-block: 30px;
}

.tab {
  cursor: pointer;
  padding: 10px 40px;
  width: 100%;

  font-family: "Lilita One", cursive;
  font-size: 22px;
  text-align: center;
  background-color: var(--clr-primary);
  border: solid 2px var(--clr-primary);
}

.tab:hover {
  color: var(--clr-neutral);
}

.tab-active {
  color: var(--clr-primary);
  background-color: var(--clr-dark);
  border: solid 2px var(--clr-dark);
}

.tab-active:hover {
  background-color: var(--clr-dark);
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  display: none;
}

.content-active {
  display: block;
}

table {
  font-size: 15px;
  width: 100%;
}

th {
  padding: 10px 20px;

  text-align: center;
  color: var(--clr-neutral);
  background-color: var(--clr-dark);
}

td {
  padding: 2px 10px;

  text-align: center;
  border-bottom: solid 2px gray;
}

/* .title {
  /* font-weight: bold; 
} */
