nav {
  background: none;
  background-color: var(--clr-dark);
  position: fixed;
}

.product {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.product-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;

  width: 100%;
  margin: 50px;

  background-color: var(--clr-neutral);
}

.product-image {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.product-details {
  display: grid;
  align-items: center;
  grid-template-columns: 2/3fr 1/3fr;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;

  min-height: 400px;
  padding-block: 50px;
  width: 70%;

  font-weight: 700;
}

.product-name {
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 36px;
}

.product-category {
  font-size: 24px;
  color: var(--clr-primary);
}

.product-info > * {
  font-size: 25px;
  margin-inline: 5px;
}

.product-price {
  color: var(--clr-primary);
}

.product-info {
  display: flex;
  justify-content: space-between;
  grid-column-start: 3;
  grid-column-end: 4;

  width: 80%;

  font-size: 24px;
}

.product-desc {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.btn-grp {
  display: flex;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

  width: 100%;
}

.buy-now {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;

  max-height: 50px;
  margin: 10px;

  color: black;
  background-color: var(--clr-primary);
}

.add-to-cart {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;

  max-height: 50px;
  margin: 10px;

  color: var(--clr-primary);
  background-color: black;
  border: none;
}

@media screen and (max-width: 1100px) {
  .logo {
    color: var(--clr-dark);
    background-color: var(--clr-primary);
  }

  nav {
    background-color: rgba(0, 0, 0, 0);
  }

  .nav-buttons > * {
    color: var(--clr-neutral);
    background-color: var(--clr-dark);
  }

  .product {
    padding: 0;
  }

  .product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin: 0;
  }

  .product-image {
    margin-top: 50px;
  }
}
