#products {
  display: flex;
  flex-flow: column nowrap;

  color: var(--clr-neutral);
  padding-block: 50px;
}

#category,
#sort {
  padding: 5px 10px;

  color: var(--clr-primary);
  background-color: var(--clr-dark);
  border-radius: 10px;
}
#category > option,
#sort > option {
  padding: 5px 10px;

  font-family: "Arvo", serif;
  color: var(--clr-primary);
  background-color: var(--clr-dark);
  border-radius: 10px;
}

.product-card {
  position: relative;

  width: 320px;
  margin: 10px;

  color: var(--clr-neutral);
  background-color: var(--clr-dark);
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
}

.product-info {
  display: grid;
  justify-content: start;
  align-items: center;
  grid-template-columns: 5% 55% 15% 5% 15% 5%;

  height: 70px;
}

.product-card > * {
  text-align: center;
}

.product-image {
  width: 100%;
}

.product-name {
  text-align: left;
  padding-block: 10px;

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.product-name > a {
  font-size: 20px;
}

.product-price {
  text-align: center;
  font-weight: bold;
  color: var(--clr-primary);
  padding-block: 10px;

  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.divider {
  color: var(--clr-primary);
  text-align: center;
  padding-block: 10px;

  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.product-quantity {
  text-align: center;
  font-weight: bold;
  padding-block: 10px;

  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}

#store {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;

  width: 100%;

  color: var(--clr-dark);
  padding-block: 50px;
}

.store-container {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  justify-content: center;
  justify-items: center;

  width: 100%;
}

@media screen and (max-width: 1100px) {
  .store-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
